*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
#loading{
  width: 100%;
  height: 100vh;
  background: #fff url('../img/Spinner-1s-200px.gif') no-repeat center;
  z-index: 99999;
}
.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.headerimage{
    height: -webkit-fill-available!important;
}

.eventContainer{
    display: flex!important;
    overflow-x:auto!important ;
}
.eventContainer::-webkit-scrollbar{
    width: 0!important;
}
.eventContainer .cards{
    min-width: 328px;
    max-height: 600px;
    line-height: auto;
    text-align: center;
    /* margin-right: 2px; */
    margin-right: 10px;
}
.video{
    max-height: 80vh;
}
.card {
    box-shadow: 1px 2px 2px 2px #dcdde1;
    
  }

.aboutImg{
 width: 30rem;
 border: 2px solid whitesmoke;
 border-radius: 20px;
padding: 10px;
}
.motoImg{
    width: 100px;
}
.motoCard{
    border: 2px;
    border-radius: 20px;
}
.navborder{
    border: 2px solid #e9ecef;
    border-radius: 0 0  64px 64px;
}

.EventImg{
    height: 200px;
    
}
.eventImg {
  border-radius: 20px;
 
}
.first h1{
  margin-left: 80px;
  margin-top:80px;
}
.cards{
    border: 2px;
    border-radius: 20px;
}
.contentlogo{
    width: 248px;
}
.ContentImg{
    height: 200px;
    width: 200px;
}
.explorebtn{
    background-color: darkblue; width: 235px; font-size: x-large; border-radius: 20px;
}
.viewEvent{
    border: 2px;
    border-radius: 15px;
}
.input-group-text{
    color: #fff!important;
    background: darkblue!important;
    border-radius: 0 100px 100px 0!important;
    min-width: 120px;
    min-height: 36px;
}

@media screen and (max-width: 1000px){
.videoWidth{
   width: 1200px;

}

.explorebtn{
    background-color: darkblue;  border-radius: 12px;
}
}
.inputform{
    border: 2px;
    border-radius: 14px;
}
@media screen and (max-width: 600px){
.videoWidth{
    width: 800px;
}
.aboutImg{
    width: 18rem;

}
.CarouselHeading{
    font-size: 20px;
}
.CarouselSub{
    font-size: 15px;
}

}





.centerdiv {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.centerdiv a {
    height: 100px;
    width: 100px;
    /* background: #f5f6fa; */
    margin: 10px;
    text-align: center;
    border-radius: 50px;
    /* box-shadow: 1px 4px 2px 2px #dcdde1; */
    line-height: 100px;
    position: relative;
    overflow: hidden;
  }


.icon {
    font-size: 40px;
  }
  
  .fa-facebook-official {
    color: #3b5998;
  }
  .fa-instagram {
    color: #e84393;
  }
  .fa-youtube-play {
    color: #e84118;
  }
  .fa-linkedin {
    color: 	#0077b5;
  }
  .fa-telegram {
    color: 	#0077b5;
    font-size: 20px;
  }
  .fa-github{
    color: #211F1F;
  }
  .centerdiv a .icon {
    transition: all 0.3s linear;
  }
  .centerdiv a:hover .icon {
    transform: scale(1.5);
    /* color: white; */
  }


  /* Content css */
  
  .card-wrapper {
    height: 400px;
    width: 300px;
    perspective: 1000px;
    border-radius: 20px;
  }

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .card-wrapper:hover .content {
    transform: rotateY(180deg);
    transition: 1s;
  }

  .face-front,
  .face-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: black;
  }

  .face-back {
    transform: rotateY(180deg);
  }

  .activepart {
    font-weight: bold;
    /* border: 2px solid rgb(49, 47, 47); */
    border-radius: 20px;

  }

  .activepart:hover {
    color: aqua;
    /* background-color: turquoise; */
  }



  /* project css */

  .btnview {
    background: #3f13a5;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    bottom: 30px;
    /* right: 30px; */
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-weight: bold;
    border-radius: 20px;
    margin-top: auto;
}

.btnview:hover {
    background: #fff;
    color: #3f13a5;
    border: 1px solid #3f13a5;
    transform: scale(1.05);
}

@media(max-width: 768px) {
    .probtn {
        padding: 10px 15px;
       
        font-size: 14px;
    }
}




.techused {
    border: 2px solid gray;
    border-radius: 18px;
    padding: 10px 40px;
   font-size: 20px;
}
@media(max-width: 1100px){
    .techused {
    border: 2px solid gray;
    border-radius: 18px;
    padding: 10px 20px;
   font-size: 12px;
}
}
@media(max-width: 500px){
    .techused {
    border: 2px solid gray;
    border-radius: 18px;
    padding: 10px 3px;
   font-size: 12px;
}
}



